@import "./colors.scss";

body {
    overflow-x: hidden;
}

.catalogo {
    padding: 0;
    margin: 0;
    width: 100%;

    .row {
        padding: 0;
        margin: 0;

        .catalogo-child {
            height: 400px;
        }
    }
}

.fa {
    font-size: 25px;
}

.left-bar {
    float: left;
    width: 5%;
    margin-top: 10px;
}

.right-bar {
    margin-top: 10px;
    float: left;
    width: 95%;
}

.row-bar:after {
    content: "";
    display: table;
    clear: both;
}

.review-rating:after {
    content: "";
    display: table;
    clear: both;
}

.left-review {
    float: left;
    width: 30%;
    margin-top: 10px;
    text-align: center;
}

.right-review {
    float: left;
    width: 70%;
    margin-top: 10px;
}

.review-title {
    font-size: 35pt;
}

.review-star {
    margin: 0 0 10px 0;
}

.review-people .fa {
    font-size: 11pt;
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

.bar-5 {
    height: 18px;
    width: 0;
    background: #57bb8a;
}

.bar-4 {
    height: 18px;
    background-color: #9ace6a;
}

.bar-3 {
    height: 18px;
    width: 0;
    background-color: #ffcf02;
}

.bar-2 {
    height: 18px;
    width: 0;
    background-color: #ff9f02;
}

.bar-1 {
    height: 18px;
    width: 0;
    background-color: #ff6f31;
}
